@import '../../variables';

.mosstodo__todo-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vw;
    width: 100%;
    padding: 2vw;
    margin: 0.5vw 0;
    background-color: rgba(0, 0, 0, 0.5);

    &:first-child {
        margin-top: 0;
    }

    @media (--desktop) {
        height: 3vw;
        margin: 0.25vw 0;
        padding: 0.4vw 2vw;
    }
}

.mosstodo__todo-item-checkbox {
    box-sizing: border-box;
    display: block;
    height: 80%;
    width: 6vw;
    border: none;
    margin-right: 2vw;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    animation: light-pulse 4s infinite;

    &.--done {
        transition: all 1s;
        border-radius: 50%;
        animation: none;
        background: radial-gradient(rgb(0, 0, 0) 50%, rgba(100, 224, 247, 0.25));

        &::before {
            content: '✔';
            transition: opacity 1s;
            position: relative;
            left: 1vw;
            bottom: 0.3vw;
            font-size: 4vw;
            color: rgb(255, 255, 255);

            @media (--desktop) {
                left: 0.35vw;
                bottom: 0.2vw;
                font-size: 1.5vw;
            }
        }
    }

    &.--ip {
        transition: all 1s;
        border-radius: 50%;
        animation: none;
        background: radial-gradient(rgb(0, 0, 0) 10%, rgba(100, 224, 247, 0.25));

        &::before {
            content: '✔';
            transition: opacity 1s;
            position: relative;
            left: 1vw;
            bottom: 0.3vw;
            font-size: 4vw;
            color: rgb(255, 255, 255);

            @media (--desktop) {
                left: 0.35vw;
                bottom: 0.2vw;
                font-size: 1.5vw;
            }
        }
    }

    & input {
        display: none;
    }

    @media (--desktop) {
        width: 2vw;
        border-width: 0.1vw;
    }
}

.mosstodo__todo-item-input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 1vw;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    &.--done {
        background: radial-gradient(rgba(100, 0, 100, 0.25), rgba(0, 0, 0, 0.5));
        color: rgba(255, 255, 255, 0.5);
        text-decoration: line-through;
        font-style: oblique;
        pointer-events: none;
        filter: blur(0.2vw);
        animation: fade-dark 1s 1;
    }

    &:focus {
        background: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        animation: none;
    }

    @media (--desktop) {
        font-size: 1.5vw;
        border-width: 0.1vw;
    }
}

.mosstodo__todo-delete-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 5vw;
    margin-left: 2vw;
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 0, 0);

    @media (--desktop) {
        width: 2vw;
        line-height: 1vw;
        font-size: 1.5vw;
    }
}

.mosstodo__todo-cycle-complete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 5vw;
    margin-left: 2vw;
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 0, 0);

    @media (--desktop) {
        width: 2vw;
        line-height: 1vw;
        font-size: 1.5vw;
    }
}

.mosstodo__temp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 5vw;
    margin-left: 2vw;
    color: rgb(255, 255, 255);
    font-size: 3.5vw;
    font-weight: 700;
    cursor: pointer;
    border: none;

    @media (--desktop) {
        width: 2vw;
        line-height: 1vw;
        font-size: 1.5vw;
    }
}

.mosstodo__todo-item-1 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 1vw;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

    &:focus {
        background: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        animation: none;
    }

    @media (--desktop) {
        font-size: 1.5vw;
        border-width: 0.1vw;
    }
}

.mosstodo__todo-item-2 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 1vw;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    border: none;

    background: radial-gradient(rgba(0, 176, 0, 0.25), rgba(0, 0, 0, 0.5));
    color: rgba(255, 255, 255, 0.9);
    

    &:focus {
        background: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        animation: none;
    }

    @media (--desktop) {
        font-size: 1.5vw;
        border-width: 0.1vw;
    }
}

.mosstodo__todo-item-3 {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0 1vw;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    border: none;

    background: radial-gradient(rgba(100, 0, 100, 0.25), rgba(0, 0, 0, 0.5));
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
    font-style: oblique;
    pointer-events: none;
    filter: blur(0.2vw);
    animation: fade-dark 1s 1;

    &:focus {
        background: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        animation: none;
    }

    @media (--desktop) {
        font-size: 1.5vw;
        border-width: 0.1vw;
    }
}

.mosstodo__date-info {
    box-sizing: border-box;
    height: 100%;
    width: 20%;
    padding: 0 0vw;
    text-align: left;
    font-size: 3vw;

    @media (--desktop) {
        font-size: 1vw;
    }

}
